:root {
  --primary: #f18a15;
  --primary-focus: #f29123;
  --background: #ebebeb;
  --background-card: #24242413;
  --background-focus: #dbdbdb;
  --text: rgb(31, 31, 31);
  --text-on-primary: white;
  --primary-gradient-1: #b2660f;
  --primary-gradient-2: #eb9029;
  --navigation-button: #636363;
  --heading-background: #00000010;
  --home-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23000000' fill-opacity='0.025' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

body.dark {
  --primary: #f18a15;
  --primary-focus: #f29123;
  --background: #302e33;
  --background-card: #1b1b1f67;
  --background-focus: #38353b;
  --text: white;
  --text-on-primary: white;
  --primary-gradient-1: #8b5111;
  --primary-gradient-2: #e99d49;
  --navigation-button: #4c494e;
  --heading-background: #ffffff0a;
  --home-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23FFFFFF' fill-opacity='0.025' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: "Source Sans Pro", sans-serif;
}

aside.navigation {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 20px;
  padding-left: 0;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 710px) {
  aside.navigation {
    padding: 10px;
    height: auto;
  }
}
aside.navigation nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
aside.navigation nav a {
  height: 40px;
  width: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--navigation-button);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2666666667);
  transition: transform 0.5s ease, background-color 0.3s ease;
  cursor: pointer;
}
aside.navigation nav a:not(#menu):hover {
  background-color: var(--primary);
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), background-color 0.3s ease;
}
aside.navigation nav a.active {
  background-color: var(--primary);
}
aside.navigation nav a.active:hover {
  background-color: var(--primary-focus);
}
aside.navigation nav a#menu {
  display: none;
}
@media only screen and (max-width: 710px) {
  aside.navigation nav a#menu {
    display: flex;
  }
}
@media only screen and (max-width: 710px) {
  aside.navigation nav a {
    display: none;
  }
}
@media only screen and (max-width: 710px) {
  aside.navigation nav.mobile a {
    display: flex;
  }
}

main > section {
  min-height: 100vh;
  background-color: var(--background);
}
main > section:nth-child(2n) {
  background-color: var(--background-focus);
}
main > section:not(#home) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

main > section > .container, footer > .container {
  width: 70vw;
}
@media only screen and (max-width: 710px) {
  main > section > .container, footer > .container {
    width: 90vw;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section > .container, footer > .container {
    width: 80vw;
  }
}

main > section#home {
  background-image: var(--home-background);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 710px) {
  main > section#home {
    flex-direction: column;
  }
}
main > section#home:before {
  content: " ";
  background: linear-gradient(81deg, var(--primary-gradient-1), var(--primary-gradient-2));
  left: -250px;
  position: absolute;
  transform: skew(10deg);
  border-radius: 50%;
  width: 600px;
  height: 200%;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.0784313725);
}
@media only screen and (max-width: 710px) {
  main > section#home:before {
    width: 300px;
    transform: skew(-10deg);
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#home:before {
    width: 500px;
    transform: skew(-10deg);
  }
}
main > section#home > .container {
  position: relative;
  z-index: 1;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 710px) {
  main > section#home > .container {
    flex-direction: column;
    padding: 70px 0;
  }
}
main > section#home > .container > .image {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 710px) {
  main > section#home > .container > .image {
    width: 60%;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#home > .container > .image {
    width: 30%;
  }
}
main > section#home > .container > .image > .border {
  overflow: hidden;
  padding: 10px;
  border-radius: 5%;
  background-color: var(--primary-focus);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2039215686);
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main > section#home > .container > .image > .border > iframe {
  border-radius: 5%;
}
main > section#home > .container > .image > .border:hover {
  transform: rotate(-3deg) scale(1.05);
  transition: transform 0.5s ease;
}
main > section#home > .container > .about {
  width: 45%;
}
@media only screen and (max-width: 710px) {
  main > section#home > .container > .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#home > .container > .about {
    width: 60%;
  }
}
main > section#home > .container > .about h1 {
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}
@media only screen and (max-width: 710px) {
  main > section#home > .container > .about h1 {
    font-size: 3em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6666666667);
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#home > .container > .about h1 {
    font-size: 4em;
  }
}
main > section#home > .container > .about p.subtitle {
  font-size: 3em;
  line-height: 0.3em;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 60px;
  position: relative;
  color: var(--text);
}
@media only screen and (max-width: 710px) {
  main > section#home > .container > .about p.subtitle {
    font-size: 1.7em;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#home > .container > .about p.subtitle {
    font-size: 2em;
  }
}
main > section#home > .container > .about p.subtitle:before {
  position: absolute;
  content: " ";
  left: 16px;
  top: 12px;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--text);
}
@media only screen and (max-width: 710px) {
  main > section#home > .container > .about p.subtitle:before {
    width: 25px;
    left: -5px;
    top: 3px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#home > .container > .about p.subtitle:before {
    top: 5px;
  }
}
main > section#home > .container > .about p:not(.subtitle) {
  color: var(--text);
  line-height: 1.8em;
  font-size: 1.1em;
}
main > section#home > .container > .about p:not(.subtitle):last-of-type {
  margin-bottom: 30px;
}

main > section#about {
  position: relative;
  overflow: hidden;
}
main > section#about:before {
  position: absolute;
  content: " ";
  background: linear-gradient(5deg, var(--primary-gradient-1), var(--primary-gradient-2));
  border-radius: 50%;
  left: -25%;
  bottom: -10%;
  width: 150%;
  height: 15%;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.0784313725);
}
main > section#about > .container {
  position: relative;
  z-index: 1;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 710px) {
  main > section#about > .container {
    flex-direction: column;
    padding-bottom: 140px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#about > .container {
    flex-direction: column;
    padding-bottom: 140px;
  }
}
main > section#about > .container > .about {
  width: 65%;
}
@media only screen and (max-width: 710px) {
  main > section#about > .container > .about {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#about > .container > .about {
    width: 100%;
    text-align: center;
  }
}
main > section#about > .container > .about h3 {
  font-size: 4em;
  margin-bottom: 50px;
  color: var(--primary);
}
@media only screen and (max-width: 710px) {
  main > section#about > .container > .about h3 {
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#about > .container > .about h3 {
    font-size: 3em;
  }
}
main > section#about > .container > .about p {
  color: var(--text);
  font-size: 1.15em;
  line-height: 1.5em;
}
main > section#about > .container > .about p:not(:last-child) {
  margin-bottom: 15px;
}
main > section#about > .container > .side {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media only screen and (max-width: 710px) {
  main > section#about > .container > .side {
    width: 100%;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#about > .container > .side {
    width: 100%;
  }
}
main > section#about > .container > .side h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.3em;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
main > section#about > .container > .side > .facts {
  padding: 15px;
  background-color: var(--background-card);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
main > section#about > .container > .side > .facts > .fact {
  display: flex;
  justify-content: space-between;
}
main > section#about > .container > .side > .facts > .fact:not(:last-child) {
  margin-bottom: 15px;
}
main > section#about > .container > .side > .facts > .fact > .name {
  color: var(--text);
  min-width: 15%;
}
main > section#about > .container > .side > .facts > .fact > .value {
  color: var(--primary);
  text-align: right;
}
main > section#about > .container > .side > .projects {
  padding: 15px;
  background-color: var(--background-card);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
main > section#about > .container > .side > .projects > .project {
  color: var(--text);
}
main > section#about > .container > .side > .projects > .project:not(:last-child) {
  margin-bottom: 25px;
}
main > section#about > .container > .side > .projects > .project h5 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: var(--primary);
}
main > section#about > .container > .side > .projects > .project p.time {
  font-size: 0.7em;
}

main > section#catalog {
  position: relative;
  overflow: hidden;
}
main > section#catalog:before {
  position: absolute;
  content: " ";
  background: linear-gradient(175deg, var(--primary-gradient-1), var(--primary-gradient-2));
  border-radius: 50%;
  left: 25%;
  top: -10%;
  width: 50%;
  height: 13%;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.0784313725);
}
main > section#catalog > .heading-container {
  margin-top: 140px;
}
main > section#catalog > .container {
  position: relative;
  z-index: 1;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
@media only screen and (max-width: 710px) {
  main > section#catalog > .container {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#catalog > .container {
    padding-bottom: 50px;
  }
}
main > section#catalog > .container > .lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 40px;
}
@media only screen and (max-width: 710px) {
  main > section#catalog > .container > .lists {
    flex-direction: column;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#catalog > .container > .lists {
    flex-direction: column;
  }
}
main > section#catalog > .container > .lists > .list {
  flex: 1;
}
main > section#catalog > .container > .lists > .list > h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.3em;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 710px) {
  main > section#catalog > .container > .lists > .list > h3 {
    text-align: center;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#catalog > .container > .lists > .list > h3 {
    text-align: center;
  }
}
main > section#catalog > .container > .lists > .list > .chips {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media only screen and (max-width: 710px) {
  main > section#catalog > .container > .lists > .list > .chips {
    justify-content: center;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#catalog > .container > .lists > .list > .chips {
    justify-content: center;
  }
}
main > section#catalog > .container > .videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media only screen and (max-width: 710px) {
  main > section#catalog > .container > .videos {
    flex-direction: column;
  }
}
main > section#catalog > .container > .videos > .job {
  color: var(--text);
  width: 30%;
}
@media only screen and (max-width: 710px) {
  main > section#catalog > .container > .videos > .job {
    width: 100%;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#catalog > .container > .videos > .job {
    width: 45%;
  }
}
main > section#catalog > .container > .videos > .job h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.3em;
  letter-spacing: 2px;
}
main > section#catalog > .container > .videos > .job p.subtitle {
  font-size: 0.9em;
  margin-bottom: 10px;
}
main > section#catalog > .container > .videos > .job p.time {
  font-size: 0.7em;
  margin-bottom: 4px;
}
main > section#catalog > .container > .videos > .job p:not(.subtitle):not(.time) {
  line-height: 1.5em;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main > section#projects {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
}
main > section#projects > .heading-container {
  margin-bottom: 150px;
}
main > section#projects:before {
  content: " ";
  position: absolute;
  top: -5%;
  right: 10%;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(15deg, var(--primary-gradient-1), var(--primary-gradient-2));
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}
@media only screen and (max-width: 710px) {
  main > section#projects:before {
    right: -5%;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#projects:before {
    right: -3%;
  }
}
main > section#projects > .container {
  position: relative;
  z-index: 1;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
main > section#projects > .container > .projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media only screen and (max-width: 710px) {
  main > section#projects > .container > .projects {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#projects > .container > .projects {
    grid-template-columns: 1fr;
  }
}
main > section#projects > .container > .projects > .project {
  background-color: var(--background-card);
  border-radius: 5px;
  padding: 15px;
}
main > section#projects > .container > .projects > .project > .heading {
  display: flex;
  justify-content: space-between;
}
main > section#projects > .container > .projects > .project > .heading > h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.4em;
  letter-spacing: 2px;
}
main > section#projects > .container > .projects > .project > .heading > .social {
  width: 15%;
  font-size: 1.6em;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
@media only screen and (max-width: 710px) {
  main > section#projects > .container > .projects > .project > .heading > .social {
    width: 30%;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#projects > .container > .projects > .project > .heading > .social {
    width: 20%;
  }
}
main > section#projects > .container > .projects > .project > .heading > .social a {
  color: var(--text);
  transition: color 0.5s ease, transform 0.3s ease;
}
main > section#projects > .container > .projects > .project > .heading > .social a:hover {
  color: var(--primary);
  transform: scale(1.3);
  transition: color 0.5s ease, transform 0.3s ease;
}
main > section#projects > .container > .projects > .project > .content {
  margin-top: 15px;
  color: var(--text);
  line-height: 1.5em;
}
main > section#projects > .container > .projects > .project > .chips {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

main > section#team {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
}
main > section#team > .heading-container {
  margin-bottom: 150px;
}
@media only screen and (max-width: 710px) {
  main > section#team > .heading-container {
    margin-bottom: 50px;
  }
}
main > section#team > .container {
  position: relative;
  z-index: 1;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
main > section#team > .container > .blogs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media only screen and (max-width: 710px) {
  main > section#team > .container > .blogs {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  main > section#team > .container > .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}
main > section#team > .container > .blogs > .blog {
  background-color: var(--background-card);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color: var(--text);
  transition: transform 0.5s ease;
}
main > section#team > .container > .blogs > .blog:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
main > section#team > .container > .blogs > .blog > .image-holder {
  width: 100%;
  height: 300px;
  border-bottom: solid 6px var(--primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
main > section#team > .container > .blogs > .blog > .image-holder > .image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  filter: grayscale(1);
  transition: filter 1s ease;
}
main > section#team > .container > .blogs > .blog > .image-holder:hover > .image {
  filter: grayscale(0);
  transition: filter 0.5s ease;
}
main > section#team > .container > .blogs > .blog > .content {
  padding: 15px;
}
main > section#team > .container > .blogs > .blog > .content > h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
main > section#team > .container > .blogs > .blog > .content p {
  line-height: 1.5em;
}

main > section#contact {
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  padding-bottom: 100px;
  justify-content: space-between;
}
main > section#contact:before {
  position: absolute;
  content: " ";
  background: linear-gradient(5deg, var(--primary-gradient-1), var(--primary-gradient-2));
  transform: skew(10deg);
  border-radius: 50%;
  left: -25%;
  bottom: -10%;
  width: 150%;
  height: 15%;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.0784313725);
}
main > section#contact > .container {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
main > section#contact > .container > .text {
  text-align: center;
}
main > section#contact > .container > .text h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
main > section#contact > .container > .text p {
  color: var(--text);
  line-height: 1.4em;
}
main > section#contact > .container > .contact {
  display: flex;
  gap: 30px;
}
main > section#contact > .container > .contact > .section {
  display: flex;
  gap: 15px;
}
main > section#contact > .container > .contact > .section > .icon {
  font-size: 3em;
  color: var(--primary);
}
main > section#contact > .container > .contact > .section > .content {
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text);
}
main > section#contact > .container > .contact > .section > .content > h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0.8;
}
main > section#contact > .container > .social {
  display: flex;
  gap: 30px;
}
main > section#contact > .container > .social > .platform {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: 1.6em;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--background-card);
  transition: background-color 0.5s ease, transform 0.5s ease;
}
main > section#contact > .container > .social > .platform:hover {
  background-color: var(--primary);
  transform: scale(1.1);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

a.button {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin: 15px 0;
  background-color: var(--primary);
  color: var(--text-on-primary);
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.3s ease-out;
}
a.button > .icon {
  font-size: 1.3em;
}
a.button > .text {
  text-transform: uppercase;
  font-weight: bold;
}
a.button:hover {
  transform: scale(1.1);
  background-color: var(--primary-focus);
  transition: background-color 0.5s ease, transform 0.3s ease-in-out;
}

.heading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.heading-container > .heading {
  position: relative;
  color: var(--primary);
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 5;
}
@media only screen and (max-width: 710px) {
  .heading-container > .heading {
    font-size: 2.7em;
    text-align: center;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  .heading-container > .heading {
    font-size: 3.7em;
  }
}
.heading-container > .background {
  position: absolute;
  color: var(--heading-background);
  font-size: 6.4em;
  letter-spacing: 4px;
  word-break: keep-all;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (max-width: 710px) {
  .heading-container > .background {
    font-size: 3.4em;
    text-align: center;
    display: none;
  }
}
@media only screen and (min-width: 710px) and (max-width: 1024px) {
  .heading-container > .background {
    font-size: 4.8em;
  }
}

span.chip {
  display: block;
  background: linear-gradient(15deg, var(--primary-gradient-1), var(--primary-gradient-2));
  padding: 8px 16px;
  border-radius: 10px;
  line-height: 1em;
  color: var(--text-on-primary);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
footer > .container {
  display: flex;
  justify-content: space-between;
  color: var(--text);
}
@media only screen and (max-width: 710px) {
  footer > .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
}
footer > .container a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
}
footer > .container small {
  font-size: 0.9em;
}
footer > .container > .side:nth-child(2) {
  width: 30%;
  text-align: right;
}
@media only screen and (max-width: 710px) {
  footer > .container > .side:nth-child(2) {
    width: 100%;
    text-align: center;
  }
}

aside.switcher {
  position: fixed;
  bottom: 10px;
  right: -20px;
  padding: 10px 15px;
  padding-right: 35px;
  background-color: var(--primary);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  color: var(--text-on-primary);
  z-index: 99;
  font-size: 2em;
  transition: transform 0.5s ease;
}
aside.switcher:hover {
  transform: translateX(-20px);
  cursor: pointer;
  transition: transform 0.5s ease;
}/*# sourceMappingURL=main.css.map */