* {
    position: relative;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

a, b, i, p, s, span, small, strong {
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Namdhinggo", serif;
}

body, main {
    width: 100%;
    height: 100%;
    z-index: 0;
}

header, footer {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    display: grid;
    grid-template: "1 2 3";
}

header { top: 0; height: 10%; }
footer { bottom: 0; height: 5%; }

header::before,
footer::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 120%;
    content: " ";
    display: block;
    mask-size: cover;
    mask-position: center;
    backdrop-filter: blur(400px);
    pointer-events: none;
    z-index: 9;
}

header::before {
    top: 0;
    background-image: linear-gradient(to bottom, var(--blue-dark), transparent);
    mask-image: linear-gradient(to bottom, black 60%, transparent);
}

footer::before {
    bottom: 0;
    background-image: linear-gradient(to top, var(--blue-light), transparent);
    mask-image: linear-gradient(to top, black 60%, transparent);
}

header .logo,
header .navigation,
header .utilities,
footer .socials,
footer .copyright,
footer .madeby {
    z-index: 10;
}

header .logo, footer .socials { grid-area: "1"; }
header .navigation, footer .copyright { grid-area: "2"; }
header .utilities, footer .madeby { grid-area: "3"; }

header .logo .logo-container,
header .navigation .navigation-container,
header .utilities .utilities-container,
footer .socials .socials-container,
footer .copyright .copyright-container,
footer .madeby .madeby-container {
    margin: 0 25%;
    width: 50%;
}

footer .socials .socials-container span,
footer .copyright .copyright-container span,
footer .madeby .madeby-container span {
    text-align: center;
}

.logo .logo-container img {
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
}

nav {
    width: 100%;
    height: 100%;
    display: grid;
}

nav a {
    color: var(--blue-light);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

nav a svg {
    padding: 0.2rem;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid transparent;
    border-radius: 50%;
}

nav a p {
    font-variant: small-caps;
    font-weight: bolder;
}

nav a:hover {
    color: var(--orange);
}

nav a:hover svg {
    border-color: var(--orange);
}

.socials .socials-container nav a {
    color: var(--blue-dark);
}

.socials .socials-container nav a:hover {
    color: var(--orange);
}

.navigation .navigation-container { margin: 0 25%; width: 50%; }
.navigation .navigation-container nav {
    grid-template-areas: "a b c d e f";
}

.socials .socials-container { margin: 0 25%; width: 50%; }
.socials .socials-container nav {
    grid-template-areas: "a b c d e";
}

section {
    width: 100%;
    min-height: 60vh;
    display: grid;
    background-color: var(--blue);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template: 
        "H"
        "C"
        "F";
}

section .section-heading,
section .section-content,
section .section-footing {
    width: 100%;
}

section .section-heading,
section .section-footing {
    height: 10rem;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
}

section .section-heading {
    grid-area: "H";
}

section .section-content {
    grid-area: "C";
}

section .section-footing {
    grid-area: "F";
}

section:not(#home) .section-heading,
section:not(#home) .section-footing {
    backdrop-filter: blur(20px);
}

section:not(#home) .section-heading {
    background-image: linear-gradient(to right, transparent, var(--blue-dark), transparent);
    mask-image: linear-gradient(to bottom, black 60%, transparent);
}

section:not(#home) .section-footing {
    background-image: linear-gradient(to right, transparent, var(--blue-light), transparent);
    mask-image: linear-gradient(to top, black 60%, transparent);
}

section#home,
section#catalog,
section#gallery {
    height: 100vh;
}


section#home,
section#catalog,
section#team {
    background-attachment: fixed;
}

section#home {
    background-image: url('./img/backgrounds/background-1.jpeg');
}

section#catalog {
    background-image: url('./img/backgrounds/background-2.jpeg');
}

section#team {
    background-image: url('./img/backgrounds/background-3.jpeg');
}

.section-content-container {
    margin: 0 25%;
    width: 50%;
}

section#about .section-content .section-content-container span {
    word-break: keep-all;
}

section#about .section-content .section-content-container span p {
    margin: 0.2rem;
}

.email-addresses {
    width: 100%;
    text-align: center;
}

.email-address { padding: 1rem; }

@media screen and (min-width: 1280px) {
    a.item { padding-top: 0.2rem; }
}
@media screen and (max-width: 1281px) {
    a.item { line-height: 5; }
    a.item p.description { display: none; }
}
