a.button {
    display: inline-flex;
    align-items: center;
    gap: 15px;

    padding: 10px;
    margin: 15px 0;

    background-color: var(--primary);
    color: var(--text-on-primary);
    cursor: pointer;
    text-decoration: none;
    
    border-radius: 5px;

    transition: background-color 0.5s ease, transform 0.3s ease-out;

    > .icon {
        font-size: 1.3em;
    }

    > .text {
        text-transform: uppercase;
        font-weight: bold;
    }

    &:hover {
        transform: scale(1.1);

        background-color: var(--primary-focus);

        transition: background-color 0.5s ease, transform 0.3s ease-in-out;
    }
}